@import '../node_modules/react-redux-toastr/src/styles/index';

// Note attributes affected by colour -> cards, modals, options within modals

@each $colour in white, lightgreen, lightskyblue, lightcoral, yellow, rosybrown {
  .ui.card.#{$colour} > .content {
    background: #{$colour};
  }

  .ui.button##{$colour}.icon {
    background: #{$colour};
    border: 1px solid #aaa;
    margin: 5px !important;
    padding: 15px;

    .icon {
      display: none;
    }
  }

  .ui.button##{$colour}.colour-selected.icon {
    padding: 8px;

    .icon {
      display: inline;
    }
  }

  .ui.button##{$colour}:hover, .ui.button##{$colour}:focus {
    border: 1px solid #555;
    background: #{$colour};
  }

  .ui.modal.#{$colour} > .header,
  .ui.modal.#{$colour} > .content,
  .ui.modal.#{$colour} input,
  .ui.modal.#{$colour} textarea {
    background: #{$colour};
  }
}

// Modal content (when editing notes)

.ui.modal input {
  border: none;
  font-weight: bold;
}

.ui.modal textarea {
  border: none;
}

.ui.modal > .content.with-border {
  border-bottom: 1px solid rgba(34,36,38,.15);
}

#colour-dropdown.ui.dropdown {
  .menu > .item:hover {
    background: none;
  }

  .menu > .item {
    padding: 0.5rem !important;
  }

  .menu > .item.with-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.ui.circular.button > .icon {
  color: #555;
}

// Login, Register, Settings Pages

.logreg.container {
  margin: 30px auto;
  padding: 30px 40px;
  width: 600px;
  border: 1px solid #ddd;
}

.logreg.container.bottom {
  margin: 30px auto;
  padding: 30px 40px;
  width: 600px;
  border: 1px solid #ddd;
  text-align: center;
}

.settings.container {
  margin: 30px auto;
  padding: 30px 40px;
  width: 450px;
  border: 1px solid #ddd;
}

.logreg.header, .settings.header {
  text-align: center;
}

.logreg.paragraph, .settings.paragraph {
  margin-bottom: 2rem;
  text-align: center;
}

.logreg.input, .settings.input {
  margin-bottom: 1rem;
}

// Navbar

.navbar, footer {
  padding: 1rem;
  background: #f9f9f9;
  text-align: center;
  height: 70px;
}

.navbar .ui.huge.header {
  margin: auto 0;
}

.navbar #profile-item, .navbar #notes-item {
  background: none;
  margin: 0;
  padding: 0;

  .user.circle.icon, .book.icon {
    margin: 0;
  }

  .dropdown.icon {
    display: none;
  }
}

.navbar #notes-item {
  margin: 0 2em 0 0;
}

// Other views

.ui.centered.card, .ui.centered.card:hover {
  box-shadow: none;
  border: 1px solid #d4d4d5;
}

.note-body {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ui.grid > .row {
  margin-bottom: 2rem !important;
}

.ui.grid > .row > .column {
  padding: 1rem;
}

.ui.button.right-aligned-button {
  margin: auto 0 auto auto;
}

.ui.label {
  margin: 0.2rem;
}

#email-input.error, .settings.input.error #newPass, .settings.input.error #newPassConfirm {
  background: rgba(255, 67, 67, 0.04);
  color: rgba(226, 101, 101, 0.89);
  border: 1px solid rgba(226, 101, 101, 0.89);
}

#email-input.success, .settings.input.success #newPass, .settings.input.success #newPassConfirm {
  background: rgba(67, 255, 73, 0.04);
  color: rgb(84, 173, 107);
  border: 1px solid rgb(84, 173, 107);
}
