@import '../node_modules/react-redux-toastr/src/styles/index';

// Note attributes affected by colour -> cards, modals, dropdown menu options

@each $colour in white, lightgreen, lightskyblue, lightcoral, yellow, rosybrown {
  .ui.card.#{$colour} > .content {
    background: #{$colour};
  }

  .ui.button##{$colour}.icon {
    background: #{$colour};
    border: 1px solid #aaa;
    margin: 5px !important;
    padding: 15px;

    .icon {
      display: none;
    }
  }

  .ui.button##{$colour}.colour-selected.icon {
    padding: 8px;

    .icon {
      display: inline;
    }
  }

  .ui.button##{$colour}:hover, .ui.button##{$colour}:focus {
    border: 1px solid #555;
    background: #{$colour};
  }

  .ui.modal.#{$colour} > .header,
  .ui.modal.#{$colour} > .content,
  .ui.modal.#{$colour} input,
  .ui.modal.#{$colour} textarea {
    background: #{$colour};
  }

  .ui.modal.#{$colour} .list-item-container {
    border-top: 1px solid #{$colour};
    border-bottom: 1px solid #{$colour};
    display: grid;
    grid-template-columns: 18px 1fr;
  }

  .ui.modal.#{$colour} .list-item-container.selected {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
  }

  .ui.circular.empty.label.#{$colour} {
    background-color: #{$colour} !important;
    border: 1px solid #666 !important;
    margin-bottom: -1px;
  }
}

// Modal content (when editing notes)

.ui.modal .header.without-border {
  border-bottom: none;
  padding: 14px;
}

.ui.modal input {
  border: none;
  font-weight: bold;
}

.ui.modal textarea {
  border: none;
}

.ui.modal > .content.with-border {
  border-bottom: 1px solid rgba(34,36,38,.15);
  padding: 0px 20px 20px 20px;
}

.ui.modal > .content.with-border > .description.viewer, .ui.modal > .header.viewer {
  pointer-events: none;
}

#colour-dropdown.ui.dropdown {
  .menu > .item:hover {
    background: none;
  }

  .menu > .item {
    padding: 0.5rem !important;
  }

  .menu > .item.with-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    cursor: default;
  }
}

.ui.circular.button > .icon {
  color: #555;
}

// Other modal content (when editing list notes)

.ui.input.list-item input.selected + i {
  display: inline-block;
}

.ui.input.list-item i {
  display: none;
}

.ui.checkbox.list-item {
  margin: auto;
}

.ui.input.list-item.checked input {
  text-decoration: line-through;
  color: #666;
}

.list-items-button-container {
  display: grid;
  padding: 12px 25px 12px 0px;
}

#duplicate-popup, #duplicate-popup:before {
  background: #ffa8a8;
}

#duplicate-popup.disabled {
  display: none !important;
}

// Login, Register, Home, Setting, Details Pages

.logreg.container, .logreg.container.bottom, .settings.container, .details.container {
  margin: 30px auto;
  padding: 30px 40px;
  width: 600px;
  border: 1px solid #ddd;
  background: #eee;
}

.logreg.container.bottom {
  text-align: center;
}

.settings.container {
  width: 450px;
  text-align: center;
}

.logreg.header, .settings.header, .details.header {
  text-align: center;
}

.ui.huge.settings.header, .ui.huge.details.header {
  margin: 1rem 0;
}

.ui.huge.settings.inner.header {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.ui.small.header.name {
  margin: 1rem;
}

.logreg.paragraph, .settings.paragraph {
  margin-bottom: 2rem;
  text-align: center;
}

.logreg.input, .settings.input {
  margin-bottom: 1rem;
}

.details.divider {
  border-right: 1px solid #ddd;
  width: 1rem;
  height: 20rem;
}

.home.container {
  width: 100%;
}

.home.section {
  padding: 1rem;
  text-align: center;

  &:nth-child(even) {
    background: #eee;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
}

// Navbar

.navbar, footer {
  padding: 1rem;
  background: #eee;
  text-align: center;
  height: 70px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.navbar .ui.huge.header {
  margin: auto 0;
}

.navbar #profile-item, .navbar #notes-item {
  background: none;
  margin: 0;
  padding: 0;

  .user.circle.icon, .book.icon {
    margin: 0;
  }

  .dropdown.icon {
    display: none;
  }
}

.navbar #notes-item {
  margin: 0 2em 0 0;
}

// Other views

.main-container {
  min-height: calc(100vh - 140px);
  padding: 0.1rem;
}

.ui.centered.card, .ui.centered.card:hover {
  box-shadow: none;
  border: 1px solid #d4d4d5;
  min-height: 4rem;
}

.note-body {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ui.grid > .row {
  margin-bottom: 2rem !important;
}

.ui.grid > .row > .column {
  padding: 1rem;
}

.ui.button.right-aligned-button {
  margin: auto 0 auto auto;
}

.ui.label {
  margin: 0.2rem;
}

#email-input.error, .settings.input.error #newPass, .settings.input.error #newPassConfirm {
  background: rgba(255, 67, 67, 0.04);
  color: rgba(226, 101, 101, 0.89);
  border: 1px solid rgba(226, 101, 101, 0.89);
}

#email-input.success, .settings.input.success #newPass, .settings.input.success #newPassConfirm {
  background: rgba(67, 255, 73, 0.04);
  color: rgb(84, 173, 107);
  border: 1px solid rgb(84, 173, 107);
}

span.list-item {
  padding-left: 5px;
}

span.list-item.checked {
  text-decoration: line-through;
  color: #666;
}

span.subtitle {
  font-style: italic;
  font-weight: bold;
  color: #666;
}

.ui.card > .content > .description.note-card {
  pointer-events: none;
}

.ui.label:first-child {
  margin: 0.2rem;
}

.ui.label.corner.right {
  padding: 8px 0px 0px 20px;
}

.note-card .list-item {
  padding-top: 3px;
}

// Search bar

.item.filter.nested.dropdown {
  padding: 0 !important;

  .ui.dropdown {
    padding: .78571429rem 1.655rem;
  }
}

.ui.grid {
  .row.search {
    padding-bottom: 0;
  }

  .row.search.labels {
    padding: 0;
    margin: -2.7rem 0 0 0;
  }
}

// Overwriting some Semantic-UI-React CSS

.ui.icon.input>i.icon:after, .ui.icon.input>i.icon:before {
  color: #666;
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  background: #666;
  border-radius: 0.2rem;
  color: white;
}

.ui.checkbox input:checked:focus~.box:after, .ui.checkbox input:checked:focus~label:after, .ui.checkbox input:not([type=radio]):indeterminate:focus~.box:after, .ui.checkbox input:not([type=radio]):indeterminate:focus~label:after {
  color: white;
}

// Responsiveness

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .ui.grid {
    .row.search {
      margin: 0 2.5rem;
    }

    .row.search.labels {
      margin: -2.7rem 2.5rem 0 2.5rem;
    }
  }

  .ui.modal .content>.description {
      padding: 0 !important;
  }

  .ui.container {
    margin-right: 2rem !important;
  }

  .ui.card > .content.not.mobile {
    display: none;
  }
}
